
@media screen and (max-width:411px) {/*Smaller android devices*/

.h1.heading-1 {
  font-size: 16px;
}

.header{
  height: 250px;
  text-align: right;
}

img.main-picture{
  height: 300px;
}

img.portfolio-1,
.portfolio-2,
.portfolio-3{
  height: 150px;
  width:70%
}
	
footer li{
display: block;
}
}

@media screen and (min-width:412px) and (max-width:732px) {  /*nexus 5x*/
	
img.main-picture{
  height: 300px;
  }
	img.portfolio-1,
.portfolio-2,
.portfolio-3{
  height: 200px;
  width:90%
}
	
}

@media screen and (min-width:768px) and (max-width:1024px) { /*ipad*/
	
img.main-picture{
  height: 400px;
  }
}

@media screen and (min-width: 1024px) {/*desktop*/
.container, 
.header__inner, 
.content {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.header{
  height: 150px;
 }

 img.main-picture{
  height: 600px;
  width: 100%
  }
	
}



