
@media screen and (min-width:300px)  and (max-width:767px) {  /*nexus 5x and /*Smaller android devices*/

.header{
  height: 200px;
}
	
.main-picture{
  height: 300px;
}
	
img.portfolio-1,
.portfolio-2,
.portfolio-3{
  height: 200px;
  width:90%
}
	
h1.featured-work{
  font-size: 35px;	
}

h1.heading-1{
  font-size: 35px;	
}
	
.toggler{
  background-color:#fff	
}
	
footer li{
display: block;
}

}
@media screen and (max-width:576px) {
  h3.portfolio-heading{
  font-size: 16px;
  float: left;
}
	
.showpanel{
  font-size: 14px;
  width:70%;	
}

col-sm-4{
  flex :100%;
  max-width: 100%;
}		
}
@media screen and (min-width:768px) and (max-width:1024px) { /*ipad*/	
img.main-picture{
  height: 400px;
  }

img.portfolio-1,
.portfolio-2,
.portfolio-3{
  height: 200px;
  width:90%
}
	
.toggler{
  cursor: pointer;
  font-size: 16px;
  background-color: #02b3e4;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;	
}
	
  span{
    display: inline-block;
    margin-right: 10px;
    width: 120px;
  }
}
@media screen and (min-width: 1024px) {/*desktop*/
.container, 
.header__inner, 
.content {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}		
}



